.navbar {
    padding: 75px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: "Gemeli Mono Web Light Regular";
    letter-spacing: 2px;
}

.navbar-left, .navbar-right {
    position: absolute;
    top: 50%;
}

.navbar-left {
    left: 80px; /* Position the left navbar 20px from the left edge */
    display: flex;
}

.navbar-right {
    right: 80px; /* Position the right navbar 20px from the right edge */
    display: flex;
}

.navbar-left div, .navbar-right div {
    font-weight: 200;
    cursor: pointer;
    margin: 0 25px; /* Add margin to separate the div elements */
    width: 45px;
}

a {
    text-decoration: none;
    color: #b3b3b3;
    transition: all 0.1s ease;
}

a:hover {
    font-weight: 600;
    color: black;
}

.link-current a {
    font-weight: 600;
    color: black;
}

.container {
    padding: 20px;
    max-width: 92vw; 
    max-height: 98vh; 
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.image-wrapper {
    width: 100%;
    height: 75vh; /* Adjust the height to crop the image vertically */
    overflow: hidden; /* Hide any overflow */
    position: relative; 
}

.image-wrapper img {
    width: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    object-position: center; /* Center the image */
}

.image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0; 
    transition: opacity 0.1s ease;
    font-size: 2vw;
    font-family: "Columbia Titling Medium";
    text-transform: uppercase;
    color: white;
}

.image-wrapper:hover .image-title {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .navbar .navbar-left,
    .navbar .navbar-right {
        display: none;
    }

    .hamburger {
        display: block;
        user-select: none;
        position: absolute;
        right: 40px;
        font-size: 32px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 100%;
    }

    .image-wrapper {
        width: 100%;
        height: 75vh; /* Adjust the height to crop the image vertically */
        overflow: hidden; /* Hide any overflow */
        position: relative; 
    }
    
    .image-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 5px;
        opacity: 1; 
        font-size: 8vw;
        font-family: "Columbia Titling Medium";
        text-transform: uppercase;
        color: white;
    }
}