body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.navbar {
    padding: 75px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: "Gemeli Mono Web Light Regular";
    letter-spacing: 2px;
}

.navbar-left,
.navbar-right {
    position: absolute;
    top: 50%;
}

.navbar-left {
    left: 80px;
    display: flex;
}

.navbar-right {
    right: 80px;
    display: flex;
}

.navbar-left div,
.navbar-right div {
    font-weight: 200;
    cursor: pointer;
    margin: 0 25px;
    width: 45px;
}

a {
    text-decoration: none;
    color: #b3b3b3;
    transition: all 0.1s ease;
}

a:hover {
    font-weight: 600;
    color: black;
}

.link-current a {
    font-weight: 600;
    color: black;
}

.about-me-title {
    font-weight: 500;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 38px;
    font-family: "Columbia Titling Medium";
}

.container {
    padding: 20px;
    max-width: 2200px;
    height: calc(100vh - 200px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px auto;
    gap: 50px;
  
}

@media only screen and (max-width: 1300px) {
    .container {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.container.hidden {
    display: none;
}

.hamburger-navbar {
    display: none;
}

.close-icon {
    display: none !important;
}

.section {
    padding: 20px;
}

.about-me {
    max-width: 1200px;
}

.about-me-description {
    line-height: 28px;
    font-family: "Gemeli Mono Web Light Regular";
    color: #b3b3b3;
    margin-bottom: 20px;
}

.about-me-info {
    line-height: 32px;
    margin-bottom: 25px;
    font-family: "Gemeli Mono Web Light Regular";
    color: #b3b3b3;
}

.container img {
    max-width: 500px;
    max-height: 500px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    .navbar .navbar-left,
    .navbar .navbar-right {
        display: none;
    }

    .hamburger {
        display: block;
        user-select: none;
        position: absolute;
        right: 40px;
        font-size: 32px;
    }

    .container img {
        max-width: 100%;
        max-height: auto;
    }

    .about-me-title {
        font-size: 20px;
    }

    .sections {
        max-width: 100%;
    }

    .hamburger.hidden {
        display: none;
    }

    .hamburger-navbar.hidden {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        position: fixed;
        top: 48%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        font-family: "Gemeli Mono Web Light Regular";
    }

    .close-icon {
        display: none !important;
    }

    .close-icon.hidden {
        display: block !important;
        user-select: none !important;
        position: absolute !important;
        right: 43px !important;
        top: 82px;
        font-size: 32px !important;
    }

}